
@{
    ViewBag.Title = "Detalle";
}

<h2>Detalles del Empleado</h2>

<p>Nombre: @Model.nombre @Model.apellido</p>
<p>Fecha de Nacimiento: @Model.birth_date</p>
<p>Género: @Model.genero</p>
<p>Usuario: @Model.usuario</p>
<p>Cédula: @Model.cedula</p>
<p>Correo: @Model.correo</p>
<p>Departamento: @Model.dept_Name</p>
<p>Título: @Model.title</p>
<p>Fecha de ingreso: @Model.hire_date</p>
<p>Salario: @Model.salary.ToString("C", new System.Globalization.CultureInfo("en-US"))</p>
<p>Fecha vencimiento salario: @Model.salary_to_date</p>
<p>Estado: @(Model.estado == 1 ? "Activo":"No Activo")</p>

