@model AppNomina.Models.Department
@{
    ViewBag.Title = "Crear Departamento";
}
<h2>Crear Departamento</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.DeptNo)
            @Html.TextBoxFor(model => model.DeptNo, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.DeptNo)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.DeptName)
            @Html.TextBoxFor(model => model.DeptName, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.DeptName)
        </div>
        <button type="submit" class="btn btn-success">Guardar</button>
        @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-link" })
    </div>
}
