@model IEnumerable<AppNomina.Models.Department>
@{
    ViewBag.Title = "Departamentos";
}
<h2>Departamentos</h2>
<p>
    @Html.ActionLink("Nuevo Departamento", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Código</th>
            <th>Nombre</th>
            <th style="width:180px;"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.DeptNo</td>
                <td>@item.DeptName</td>
                <td>
                    @Html.ActionLink("Detalles", "Details", new { id = item.DeptNo }, new { @class = "btn btn-secondary btn-sm" })
                    @Html.ActionLink("Editar", "Edit", new { id = item.DeptNo }, new { @class = "btn btn-warning btn-sm" })
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.DeptNo }, new { @class = "btn btn-danger btn-sm" })
                </td>
            </tr>
        }
    </tbody>
</table>
