@model AppNomina.Models.Department

@{
    ViewBag.Title = "Eliminar Departamento";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - TuApp</title>
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/styles/DetalleEmpleado.css" />
    <title></title>
</head>
<body>
    <header>
        <h2>Aplicación Nomina</h2>
    </header>
    <main>
        <h2>Eliminar Departamento</h2>

        <div>
            <h4>¿Estás seguro de que deseas eliminar este departamento?</h4>
            <dl class="dl-horizontal">
                <dt>@Html.DisplayNameFor(model => model.DeptNo)</dt>
                <dd>@Html.DisplayFor(model => model.DeptNo)</dd>
                <dt>@Html.DisplayNameFor(model => model.DeptName)</dt>
                <dd>@Html.DisplayFor(model => model.DeptName)</dd>
            </dl>
        </div>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-danger">Eliminar</button> |
@Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-default" })
        }
    </main>
</body>
</html>
